@import "tailwindcss";
@plugin "@tailwindcss/typography";

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

:root {
  /* Beyaza çok yakın, zarif bir kırık beyaz/krem rengi */
  --cream-bg: #FAF9F6; 
}

body {
}

.content-wrapper {
  background-image: url('/zekran.jpg');
  background-repeat: repeat; 
  background-position: center; 
}

.zekran-bg {
  background-image: url('/zekran.jpg') !important;
  background-attachment: fixed !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}